.app__hero{
	position: relative;
	width: 100%;
	height: 100vh;
}

.app__hero_image{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.app__hero_title{
	position: absolute;
	bottom: 35%;
	right: 10%;
	font-size: 4rem;
	color: var(--color-red);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.32);
}

.app__hero_subtitle{
	position: absolute;
	bottom: 32%;
	right: 9.6%;
	font-size: 1.4rem;
	letter-spacing: 0.32rem;
	color: var(--color-golden);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
}