.app__title{
	margin: 4rem;
	text-align: center;
	color: var(--color-red2);
	font-size: 1.3rem;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
}

@media (max-width: 991px){
	.app__title{
		font-size: 1.3rem;
	}
}

@media (max-width: 388px){
	.app__title{
		font-size: 1rem;
	}
}