.app__navbar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-white); 
	opacity: 0.85;
}

.app__navbar-logo{
	display: flex;
	justify-content: flex-start;
	align-items: center;	
}

.app__navbar-logo img{
	width: 8rem;
	margin: 0 1rem;	
}

.app__navbar-links{
	display: flex;
	list-style: none;
	margin: 0 2rem;
}

.app__navbar-links li{
	padding: 0 1.5rem;
}

.app__navbar-links li a{
	text-decoration: none;
	color: var(--color-red);
	font-size: 1.2rem;
	font-weight: bold;
	font-family: sans-serif;
}

.app__navbar-links li a:hover{
	color: var(--color-red2);
	border-bottom: 1px solid var(--color-red2);
}

.app__navbar-smallscreen{
	display: none;
}

.app__navbar-smallscreen_overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--color-white);
	flex-direction: column;
	z-index: 6;
}

.app__navbar-smallscreen_overlay .overlay__close{
	font-size: 2.4rem;
	color: var(--color-red);
	cursor: pointer;
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.app__navbar-smallscreen_links{
	list-style: none;	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 18rem auto;
}

.app__navbar-smallscreen_links li{
	margin: 1.5rem 0;
	align-items: center;
}

.app__navbar-smallscreen_links li a{
	text-decoration: none;
	color: var(--color-red);
	font-size: 1.2rem;
}

.app__navbar-smallscreen_links li a:hover{
	color: var(--color-red2);
}


@media screen and (min-width: 2000px){
	.app__navbar-logo img{
		width: 9rem;
	}
}

@media screen and (max-width: 1150px){
	.app__navbar-links{
		display: none;
	}

	.app__navbar-smallscreen{
		display: flex;
	}
}

@media screen and (max-width: 650px){
	.app__navbar{
		padding: 1rem;	
	}

	.app__navbar-logo img{
		width: 10rem;
	}
}

@media screen and (max-width: 350px){
	.app__navbar{
		padding: 0.5rem;
		display: flex;
		flex-direction: column;	
	}

	.app__navbar-logo img{
		width: 5.5rem;
	}
}

